src/.idea/*
src/bin/*
src/obj/*
src/.vs/*
src/packages/*
src/Test/*

src/Publish/*
.vs/*

# Personal Files
*.suo
*.user

# The following is specific to the ServiceInstaller project
src/ServiceInstaller/AdditionalFiles/AspNetCoreRuntime.exe
src/ServiceInstaller/bin/*
src/ServiceInstaller/obj/*

# The following is specific to the Service project
src/Tooltip_Fix/bin/*
src/Tooltip_Fix/obj/*
