src/.idea/*
src/bin/*
src/obj/*
src/Test/*
src/Tooltip_Fix/bin/*
src/Tooltip_Fix/obj/*
src/Publish/*
.vs/*
src/PopupHost_ClickThroughPatch.csproj.user
src/PopupHost_ClickThroughPatch.sln.DotSettings.user
